.questionContainer,
.answerContainer,
.imgContainer img {
  width: 100%;
  height: 100%;
}
.questionContainer {
  padding: 0 0.1rem 0.5rem 0.1rem;
}
.answerContainer {
  display: grid;
  justify-content: center;
  align-content: space-between;
  grid-template-columns: 100%;
  grid-gap: 0;
}
.otherImg {
  display: none;
}
.annotationColumn {
  display: none;
}
.currentQuestionContainer {
  display: grid;
  justify-content: space-between;
  align-items: flex-end;
  grid-template-columns: 65% 35%;
  grid-gap: 0;
  margin-bottom: 0.5rem;
}
.productQuestion,
.productValue,
.progressionContainer p {
  font-size: 0.85rem;
}
.progressionContainer {
  margin-bottom: 1rem;
}
.progressionContainer p {
  text-align: center;
}
.imgContainer {
  display: grid;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 1rem;
}

.buttonsContainer {
  display: grid;
  justify-content: space-around;
  align-items: center;
  grid-template-columns: 22% 22% 22% 22%;
  grid-gap: 0;
}
.buttonsContainer button {
  border: none;
  height: 100%;
  padding: 0.25rem 0;
  text-align: center;
}
.buttonsContainer button:hover {
  cursor: pointer;
}
.red {
  background-color: red;
}
.yellow {
  background-color: yellow;
}
.green {
  background-color: green;
}
