.settingsContainer {
  width: 100%;
  height: 100%;
  margin-top: 8rem;
  box-sizing: border-box;
  padding: 0 0.1rem 0.5rem 0.1rem;
  display: grid;
  justify-content: center;
  align-content: flex-start;
  grid-template-columns: 100%;
  grid-gap: 0;
}

.settingsTitle {
  margin: 1rem 0;
  font-size: 1.5rem;
  text-align: center;
}

.selectorForm {
  width: 100%;
  display: grid;
  justify-content: center;
  align-content: flex-start;
  grid-gap: 0;
}

.langLabel {
  margin: 1rem 0 0.5rem 0;
  text-align: center;
}

#langSelector {
  display: inline-block;
  font-size: 1rem;
  font-weight: 700;
  color: var(--OFFblack);
  line-height: 1.3;
  padding: 0.6rem 1.4rem 0.5rem 0.8rem;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0 0 1rem 0;
  border: none;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0.3rem;
  background-color: #fff;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"),
    linear-gradient(to bottom, var(--OFFlightBlue) 0%, var(--OFFlightBlue) 100%);
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
}
#langSelector:hover {
  box-shadow: 0 0 0.1rem 0.1rem var(--OFFblack);
  cursor: pointer;
}
#langSelector:focus {
  box-shadow: 0 0 0.1rem 0.1rem var(--OFFblack);
  box-shadow: 0 0 0 0.1rem -moz-mac-focusring;
  color: var(--OFFblack);
  outline: none;
}

#langSelector option {
  font-weight: normal;
}

.langButton {
  background-color: var(--OFFlightBlue);
  color: var(--OFFblack);
  font-weight: 700;
  text-align: center;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 0.3rem;
}

.langButton:hover {
  cursor: pointer;
  box-shadow: 0 0 0.1rem 0.1rem var(--OFFblack);
}

.langButton:focus {
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"),
    linear-gradient(to bottom, var(--OFFmidBlue) 0%, var(--OFFmidBlue) 100%);
}
