:root {
  font-size: 12px;
}
body {
  width: 100vw;
  height: 100vh;
}
#app {
  width: 100%;
  height: 100%;
}
.globalContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}
header {
  width: 100%;
  max-height: 3.25rem;
  margin-bottom: 1.5rem;
  display: grid;
  grid-template-columns: 25% 75%;
  grid-gap: 0;
}
h1 {
  padding: 0.5rem;
  margin: 0;
  font-size: 2.75rem;
  width: 100%;
  text-align: left;
}
