* {
  box-sizing: border-box;
}
:root {
  --OFFred: #ff0000;
  --OFFyellow: #ffcc00;
  --OFFgreen: #00d400;
  --OFFlightBlue: #00ccff;
  --OFFmidBlue: #0066ff;
  --OFFwhite: #f9f9f9;
  --OFFblack: #333333;
  font-size: 12px;
  color: var(--OFFblack);
}
body {
  width: 100vw;
  height: 100vh;
  color: var(--OFFblack);
}
#app,
.globalContainer {
  width: 100%;
  height: 100%;
}
.globalContainer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}
header {
  width: 100%;
  max-height: 4.75rem;
  margin-bottom: 0.5rem;
  background-color: var(--OFFmidBlue);
  display: grid;
  grid-template-columns: 25% 75%;
  grid-gap: 0;
}
h1 {
  box-sizing: border-box;
  padding: 1rem 0.5rem;
  margin: 0;
  font-size: 2.75rem;
  width: 100%;
  text-align: left;
}
